* {
    margin: 0;
    padding: 0
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

li,ol,ul {
    list-style: none
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 400
}

em,i {
    font-style: normal
}

a {
    background: transparent
}

a:focus {
    outline: thin dotted
}

a:active,a:hover {
    outline: 0
}

a:link,a:visited,ins {
    text-decoration: none
}
a:-webkit-any-link {
  color: #555;
}

img {
    width: 100%;
    border: none;
    vertical-align: bottom
}

body,html {
    width: 100%;
    height: 100%;
    background-color: #fff;
    font: normal 12px/20px PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,Microsoft JhengHei,Source Han Sans SC,Noto Sans CJK SC,Source Han Sans CN,Noto Sans SC,Source Han Sans TC,Noto Sans CJK TC,WenQuanYi Micro Hei,SimSun,sans-serif;
    word-break: break-word;
    -webkit-tap-highlight-color: transparent
}

.sno{
  display: none;
}

.wrapper{
  max-width: 1024px;
  min-width: 320px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.collection-title{
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  margin: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.collection-desc{
  font-size: 15px;
  color: #666;
  line-height: 1.6;
  margin: 15px;
  padding-bottom: 10px;
}

.collection-header-mask{
  background-color: rgba(0,0,0,.4);
  position: absolute;
  left: 5%;
  top: 70px;
  padding: 2.5%;
  width: 75%;

  .title{
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .sub-title{
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 1.3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .icon-left-top{
    position: absolute;
    width: 8px;
    height: 8px;
    left: 4%;
    top: 5px;
    border-top: 1px solid #ff7d00;
    border-left: 1px solid #ff7d00;
  }
  .icon-right-bottom{
    position: absolute;
    width: 8px;
    height: 8px;
    left: 94%;
    bottom: 5px;
    border-right: 1px solid #ff7d00;
    border-bottom: 1px solid #ff7d00;
  }
}

.product-list{
  padding: 5px 3px 15px 3px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}
.product-box{
  width: 49%;
  margin: 4px 2px 0 2px;
  background-color: #fff;
  .title{
    color: #2f2f2f;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    height: 40px;
  }
  .o-price{
    font-size: 14px;
    color: #666;
    float: right;
  }
  .price{
    font-size: 16px;
    color: #fb2020;
    font-weight: 600;
    padding: 0 10px 10px 10px;
  }
}

.c-list{
  margin: 10px 10px 20px 10px;
  .list-item{
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    .title{
      padding: 0 10px 0 10px;
      font-size: 18px;
      color: #555;
      line-height: 1.2;
      margin-bottom: 5px;
    }
    .desc{
      padding: 0 10px 0 10px;
      font-size: 14px;
      max-height: 16px;
      color: #646464;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .img-area{
      padding: 20px 0 20px 0;
      img{
        width: 32%;
        margin: 0 3px 0 3px;
      }
    }
  }
}

.product-list-2{
  background-color: #fff;
  overflow: hidden;
  .product-item{
    position: relative;
    margin: 10px 10px 10px 10px;
    box-sizing: border-box;
    padding-bottom: 2%;
    .mask{
      width: 100%;
      height: 25%;
      background-color: hsla(0,0%,100%,.8);
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 0 3%;
      box-sizing: border-box;
      .title{
        color: #555;
        margin-top: 4%;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.2;
      }
      .price-area{
        padding-top: 10px;
      }
      .o-price{
        font-size: 14px;
        color: #666;
        float: right;
      }
      .price{
        font-size: 16px;
        color: #fb2020;
        font-weight: 600;
      }
      .img-area{
        position: relative;
      }
    }
    .desc{
      font-size: 14px;
      line-height: 1.5;
      padding: 0 10px 0 10px;
      margin-bottom: 4%;
    }
  }
  .desc-area{
    position: relative;
    font-size: 14px;
    padding: 0 10px 15px 10px;
    margin: 10px 10px 10px 10px;
    border-bottom: 1px solid #c1c1c1;
  }
}
