<footer class="wrapper">
  <p class="links">友情链接：
    <a href="https://www.uuhaodian.com" target="_blank">京东优惠券</a>
    <a href="https://www.iquan.net" target="_blank">淘宝优惠券</a>
    <a href="http://www.shikuaigou.com" target="_blank">粉丝福利购</a>
    <a href="http://www.jidanguo.top" target="_blank">百香果的功效与作用</a>
    <a href="http://www.vxixi.com" target="_blank">羽毛球比赛规则</a>
    <a href="http://www.gouwuzhinan.cn" target="_blank">购物指南</a>
    <a href="http://www.17430.com.cn" target="_blank">便宜网购商城</a>
    <a href="http://www.ddzhusu.com" target="_blank">特色民宿客栈</a>
  </p>
  <p class="center">京ICP备17027610号</p>
</footer>
