<footer class="wrapper">
  <p class="links">友情链接：
  <a href="https://www.iquan.net/" target="_blank">优惠券网站</a>
  <a href="http://www.shikuaigou.com/" target="_blank">福利购</a>
  <a href="https://www.uuhaodian.com.com/" target="_blank">京东优惠券</a>
  </p>
  <p class="center">京ICP备17027610号</p>
</footer>
