<footer class="wrapper">
  <p class="links">友情链接：
  <a href="/product_map/">淘宝商品大全</a>
  <a href="/shop_map/">淘宝店铺大全</a>
  <a href="http://www.iquan.net/" target="_blank">内部优惠券</a>
  <a href="http://www.shikuaigou.com/" target="_blank">十块购</a>
  </p>
  <p class="center">京ICP备17027610号</p>
</footer>
