<header class="sno">
  <nav>
    <ul>
      <li><a href="/">熊猫优选</a></li>
      <li><a href="http://www.iquan.net">找券网</a></li>
      <li><a href="http://www.shikuaigou.com">天天特价</a></li>
    </ul>
  </nav>
</header>
