<header class="sno">
  <nav>
    <ul>
      <li><a href="/">熊猫装饰画网</a></li>
      <li><a href="https://www.iquan.net">优惠券网站</a></li>
      <li><a href="http://www.shikuaigou.com">福利购</a></li>
      <li><a href="https://www.uuhaodian.com">京东优惠券</a></li>
    </ul>
  </nav>
</header>
