<footer class="wrapper">
  <p class="links">
    合作QQ：174786080 请备注"装饰画"
    <br>
    友情链接：
  <% @links.each do |link|%>
    <a href="<%= link.url %>" target="_blank"><%= link.anchor%></a>
  <% end %>
  </p>
  <p class="center">
  <a href="https://beian.miit.gov.cn/" rel="nofollow" target="_blank">京ICP备17027610号-3</a>
  </p>
</footer>
